ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #f8f8f8;
}

#topbottom {
	background-color: #333333;
	color: #ffffff;
	border: none;
}

#left>div {
	background-color: black;
}

.classification {
	background-color: #FFFFFF;
}

#center {
	background-color: #f1f1f1;
}

#centerin {
	/*border: 1px #3E4042 solid;*/
	height: 99.5%;
}

iframe {
	height: 100%;
	width: 100%;
	border: none;
	scrolling: no;
	background: #Fff;
}